@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap");

* {
  background-color: #1d1f21;
  font-family: "Oxygen";
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.default-btn {
  background-color: #636363;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 4px;
  &:hover {
    background-color: #9c9c9c;
    cursor: pointer;
  }
}
